<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<body>
    <div class="container register">
        <div class="row">
            <div class="col-md-11 register-right">
                <form [formGroup]="formGroup" id="form" novalidate>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading"><a routerLink="/listarfuncionario"><img src="../../../assets/img/seta.png" style="height: 60px; width: 60px; margin-right: 20px;"></a>Edite as informações do seu funcionário :)</h3>
                            <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="nome">Nome</label>
                                            <input id="nome" type="text" class="form-control" formControlName="nome" placeholder="Nome" value="" [(ngModel)]="funcionario.nome" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="cpf">CPF</label>
                                            <input id="cpf" type="text" class="form-control" formControlName="cpf" placeholder="CPF" value="" [(ngModel)]="funcionario.cpf" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="senha">Senha</label>
                                            <input id="senha" type="password" class="form-control"  formControlName="senha" placeholder="Senha" value="" [(ngModel)]="funcionario.senha" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="genero">Gênero</label>
                                            <select class="form-control" name="genero" id="genero" formControlName="genero" [(ngModel)]="funcionario.genero">
                                                <option value="M">Masculino</option>
                                                <option value="F">Feminino</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input id="email" type="email" class="form-control" formControlName="email" placeholder="Email" value="" [(ngModel)]="funcionario.email" required/>
                                        </div>
                                        <div class="form-group">
                                            <label for="tel">Telefone</label>
                                            <input id="tel" type="text" mask="(00) 0000-0000 || (00) 00000-0000" minlength="14" maxlength="15" class="form-control" formControlName="telefone" placeholder="Telefone" [(ngModel)]="funcionario.telcompleto"required/>
                                        </div> <!--  mask="(00) 0000-0000 || (00) 00000-0000"  -->
                                        <div class="form-group">
                                            <div>
                                                <label for="nasc">Nascimento</label>
                                                <input id="nasc" class="form-control" mask="00/00/0000" type="dta_nascimento" name="nascimento" formControlName="nascimento" [(ngModel)]="funcionario.dta_nascimento" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label for="tipo">Cargo</label>
                                                <select class="form-control" name="tipo" id="tipo" formControlName="tipo" [(ngModel)]="funcionario.tipo">
                                                    <option value="gerente">Gerente</option>
                                                    <option value="garcom">Garçom</option>
                                                </select>
                                            </div>
                                        <div style="margin-top: 50px;">
                                            <button type="button" class="btnRegister" (click)="this.editFunc()">Confirmar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    