
.topo{
	color: #ffff;
	font-size: 28px;
	font-weight: bold;
	background-color: #21242b;
}

#add{
	display: flex;
	justify-content: flex-end;
}
 input {
	width: 250px;
	height: 25px;
 }

 #filtro{
	 font-weight: bold;
	 font-size: 20px;
	 color: white;
 }