
.topo{
	color: #ffff;
	font-size: 28px;
	font-weight: bold;
	background-color: #21242b;
}

 input {
	width: 250px;
	height: 25px;
 }

 #filtro{
	 font-weight: bold;
	 font-size: 20px;
	 color: white;
 }

 .table{
	margin-bottom: 100px;
}