    <div class="container">
        <!-- linha de avaliaçõpes em estrelas -->
        <div class="row">
            <!-- coluna de avaliação geral estabelecimento -->
            <div class="col-3 text-left">
                    <a routerLink="/mediador" style="justify-content: left;"><img src="../../../assets/img/setab.png" style="height: 60px; width: 60px;"></a>
                </div>
            <div class="col mt-3" [ngSwitch]="mediaEstabelecimento">
                <h6>Classificação do seu estabelecimento:</h6>
                <!-- carrega caso seja 5 estrelas -->
                <!-- <star-rating value={{mediaEstabelecimento}} checkedcolor="white" uncheckedcolor="#0f0f0f" size="45px"    readonly="true"></star-rating> -->
        

                <a *ngSwitchCase="5">
                    <img src="../../assets/img/estrelas/5estrelas.png">
                </a>
                <!-- carrega caso seja 4 estrelas -->
                <a *ngSwitchCase="4">
                    <img src="../../assets/img/estrelas/4estrelas.png">
                </a>
                <!-- carrega caso seja 3 estrelas -->
                <a *ngSwitchCase="3">
                    <img src="../../assets/img/estrelas/3estrelas.png">
                </a>
                <!-- carrega caso seja 2 estrelas -->
                <a *ngSwitchCase="2">
                    <img src="../../assets/img/estrelas/2estrelas.png">
                </a>
                <!-- carrega caso seja 1 estrela -->
                <a *ngSwitchCase="1">
                    <img src="../../assets/img/estrelas/1estrela.png">
                </a>
                <!-- carrega caso seja 0 estrelas -->
                <a *ngSwitchCase="0">
                    <img src="../../assets/img/estrelas/vazias.png">
                </a>
            </div>
            <!-- coluna de avaliação geral funcionarios -->
            <div class="col mt-3" [ngSwitch]="mediaFuncionarios">
                    <h6>Classificação dos seus funcionarios:</h6>
                    <!-- carrega caso seja 5 estrelas -->
                    <a *ngSwitchCase="5">
                        <img src="../../assets/img/estrelas/5estrelas.png">
                    </a>
                    <!-- carrega caso seja 4 estrelas -->
                    <a *ngSwitchCase="4">
                        <img src="../../assets/img/estrelas/4estrelas.png">
                    </a>
                    <!-- carrega caso seja 3 estrelas -->
                    <a *ngSwitchCase="3">
                        <img src="../../assets/img/estrelas/3estrelas.png">
                    </a>
                    <!-- carrega caso seja 2 estrelas -->
                    <a *ngSwitchCase="2">
                        <img src="../../assets/img/estrelas/2estrelas.png">
                    </a>
                    <!-- carrega caso seja 1 estrela -->
                    <a *ngSwitchCase="1">
                        <img src="../../assets/img/estrelas/1estrela.png">
                    </a>
                    <!-- carrega caso seja 0 estrelas -->
                    <a *ngSwitchCase="0">
                        <img src="../../assets/img/estrelas/vazias.png">
                    </a>
            </div>
        </div>
        <!-- linha de emoções e tabela de comentarios -->
        <div class="row mt-5">
        <div class="col-3">
                <h6>Sentimento dos seus clientes: </h6>
            <div class="col">
                    <table>
                        <tr>
                            <th><span class="fas fa-laugh fa-4x"  style="color:white; margin-right:10px"></span></th>
                            <td class="porcentagem">    {{emocao3}}</td>
                        </tr>
                        <tr>
                                <th><span class="fas fa-smile fa-4x"  style="color:white;"></span></th>
                            <td class="porcentagem">   {{emocao2}}</td>
                        </tr>
                        <tr> <th><span class="fas fa-meh fa-4x"  style="color:white;"></span></th>
                            <td class="porcentagem">   {{emocao1}}</td>
                        </tr>
                        <tr> <th><span class="fas fa-frown fa-4x"  style="color:white;"></span></th>
                            <td class="porcentagem">   {{emocao0}}</td>
                        </tr>   
                    </table>
                </div>
            </div>
    <div class="col-9">   
            
            <h3>Ultimos comentários:</h3>
<table class="table table-dark">
    <thead>
        <tr>
            <th >Estrelas</th>
            <th >Sentimento</th>
            <th >Comentário</th>
        </tr>
    </thead>
    <tbody *ngFor="let avaliacao of listaAvaliacoes">     
        
        <tr>
            <th [ngSwitch]="avaliacao.avEstabelecimento">
                <!-- carrega caso seja 5 estrelas -->
                <a *ngSwitchCase="5">
                    <img src="../../assets/img/estrelas/5estrelas.png" class="estrelas">
                </a>
                <!-- carrega caso seja 4 estrelas -->
                <a *ngSwitchCase="4">
                    <img src="../../assets/img/estrelas/4estrelas.png" class="estrelas">
                </a>
                <!-- carrega caso seja 3 estrelas -->
                <a *ngSwitchCase="3">
                    <img src="../../assets/img/estrelas/3estrelas.png" class="estrelas">
                </a>
                <!-- carrega caso seja 2 estrelas -->
                <a *ngSwitchCase="2">
                    <img src="../../assets/img/estrelas/2estrelas.png" class="estrelas">
                </a>
                <!-- carrega caso seja 1 estrela -->
                <a *ngSwitchCase="1">
                    <img src="../../assets/img/estrelas/1estrela.png" class="estrelas">
                </a>
                <!-- carrega caso seja 0 estrelas -->
                <a *ngSwitchCase="0">
                    <img src="../../assets/img/estrelas/vazias.png" class="estrelas">
                </a>
            </th>

            <td [ngSwitch]="avaliacao.bayesEstabelecimento">
                <!-- carrega caso seja 5 estrelas -->
                <a *ngSwitchCase="0">
                    Totalmente Insatisfeito
                </a>
                <!-- carrega caso seja 4 estrelas -->
                <a *ngSwitchCase="1">
                    Insatisfeito
                </a>
                <!-- carrega caso seja 3 estrelas -->
                <a *ngSwitchCase="2">
                    Satisfeito
                </a>
                <!-- carrega caso seja 2 estrelas -->
                <a *ngSwitchCase="3">
                    Totalmente Satisfeito
                </a>
            </td>
            <!-- <td>{{avaliacao.bayesEstabelecimento}}</td> -->
            <td>{{avaliacao.descEstabelecimento}}</td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
