.table-dark {
	background-color: #3f444b !important;
}

h6, h3 {
	color: white;
}

.porcentagem {
	height: 75px;
	color: white;
}

.estrelas {
	width: 90px;
}

thead, tbody{
	display: block;  
  }
  
  tbody{
	overflow-y: scroll;
	height: 350px;
	}
