#suadiv{
	top:0;
	left:0;
	z-index:11;
	background-color:#3f444b;
	width:100%;
}

h6, h3 {
	color: white;
}

.porcentagem {
	height: 75px;
	color: white;
}

.estrelas {
	width: 90px;
}

.table{
	height: 500px;
	overflow: scroll;
	margin-bottom: 100px;
}
